@import url("../css/variable.css");
@import url("../css/keyframes.css");
@import url("../css/media-queries.css");
@import url("../css/js.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    background-color: var(--background);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    color: var(--primary);
    font-family: var(--fontTitleBold);
    font-size: clamp(2rem, 4vw, 8rem);
}

footer h3{
    text-align: center;
    color: var(--primary);
    font-family: var(--fontTitleBold);
    font-size: clamp(2rem, 4vw, 8rem);
}

div,
p,
h2 {
    position: relative;
    z-index: 2;
}

strong {
    background: linear-gradient(90deg, #F7FFD5 50%, #4A9B2C 83.68%);
    background-size: 100% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    /* Augmenter la durée de l'animation à 10 secondes */
}


.txt {
    color: var(--text);
    font-family: var(--fontTxt);
}

.areaSquare {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 25px;
    padding: 25px;
}


.carreDraw {
    width: 5vw;
    height: 5vw;
    border: solid 2px var(--accent);
    opacity: 0.5;
    flex-grow: 1;
    z-index: 1;
}

.carreDraw:hover {
    background-color: var(--primary);
}

header {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 99999999;
    padding-left: 20px;
}

header svg {
    margin-top: 10px;
}


#scroll-progress {
    position: fixed;
    width: 0;
    height: 5px;
    background: var(--accent);
    transition: 1.5s all;
    z-index: 10000;
}

#nav-icon3 {
    right: 20px;
    height: 45px;
    width: 50px;
    position: absolute;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: var(--accent);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    left: 50%;
    width: 0%;
}

.navigation-section {
    padding: 10px 0;
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary);
    border: solid 1px var(--accent);
    transform: translateX(200%);
    opacity: 0;
    position: fixed;
    transition: 1.5s all;
    flex-wrap: wrap;
    padding: 20px;
}

.navigation-section span {
    color: var(--text);
    font-family: var(--fontTitleBold);
}

.navigation-section span a {
    color: var(--text);
    font-family: var(--fontTitleBold);
}

section {
    padding: 0px 80px;
}

.section-one {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.section-one svg {
    height: 300px;
    position: relative;
    z-index: 1;
}

.description-section-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50%;
    width: 60%;
    z-index: 1;
}

.description-section-one h1 {
    font-size: clamp(2rem, 4vw, 8rem);
    color: var(--text);
    font-family: var(--fontTitleBold);

}

.btn-all-reseaux {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-all-reseaux span {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-family: var(--fontTxt);
    font-size: 15px;
    justify-content: space-evenly;
    color: var(--secondary);
    cursor: pointer;
    padding: 2px 10px;
    grid-gap: 2px;
    transition: 1s all;
}

.btn-all-reseaux span a {
    font-family: var(--fontTxt);
    color: var(--secondary);
    font-weight: bold;
}

.btn-all-reseaux span:hover{
    transform: scale(1.1);
}

.btn-all-reseaux span svg {
    height: 20px;
    width: 20px;
}

.Poste {
    position: absolute;
    bottom: 0px;
    background-color: var(--secondary);
    color: var(--text);
    font-family: var(--fontTxt);
    font-size: 4vw;
    z-index: 1;
    white-space: nowrap;
    animation: slider 14.5s infinite linear;
    border-top: solid 1px var(--accent);
    border-bottom: solid 1px var(--accent);

    &::after {
        content: 'WEBDESIGNER DEVELOPEUR PRODUCT-OWNER WEBMASTER';
        position: absolute;
        background-color: var(--secondary);
        border-top: solid 1px var(--accent);
        border-bottom: solid 1px var(--accent);
        white-space: nowrap;
    }
}

.section-deux {
    padding: 60px 20px;
}

.all-container-about {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    flex-flow: row wrap;
}

.techno {
    width: 45%;
}

.bloc-techno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 20px;
    grid-gap: 10px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(7.5px);
    background-color: rgba(50, 50, 50, .1);
    backdrop-filter: blur(6px);
    z-index: 1;
    margin: 100px auto;
    width: 70%;
    min-width: 250px;
}


.bloc-techno span svg {
    padding: 5px;
    width: 80px;
}

.container-about {
    color: var(--primary);
    font-family: var(--fontTxt);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    width: 45%;
    max-width: 100%;
}


.fond {
    position: absolute;
    z-index: -1;
    background: url("../assets/img/Code.png") center/contain no-repeat;
    height: 100%;
    width: 100%;
}

.container-project {
    width: 90%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 80px;
}

.creation {
    color: var(--secondary);
}

.item {
    flex-grow: 1;
    flex-basis: 300;
    height: 250px;
    width: 450px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 27px 5px rgba(0,0,0,0.39);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}

.language{
    position: absolute;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 5px 10px;
    width: 100%;
    font-family: var(--fontTxt);
    text-align: center;
}

.language h3{
    font-family: var(--fontTxt);
    text-align: center;
}

.hover-project {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0%;
    border-radius: 30px;
    transition: 1s all;
    z-index: 100;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background-color: rgba(32, 29, 29, 0.3);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.hover-project a {
    position: absolute;
    font-size: 20px;
    transition: 0.8s all;
    width: fit-content;
    bottom: 20px;
    font-family: var(--fontTxt);
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    padding: 5px 20px;
    background-color: var(--secondary);
    border: solid 2px var(--accent);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    transition: 1s all;
}

.hover-project a:hover{
    border: solid 2px var(--secondary);
    background-color: var(--accent);
}

.heightHover {
    height: 100% !important;
}


.skills {
    padding: 60px 0 0 0px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 60px auto;
}

.container-bis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.skills-flex-container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    grid-gap: 20px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(7.5px);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    width: 90%;
    margin: 0 auto;
}

.box {
    width: 100%;

    .title {
        text-align: center;
        color: var(--primary);
        font-family: var(--fontTxt);
    }
}


.react {
    animation: shadowAnimation 3s infinite;
    background-color: var(--primary);
    border-radius: 50%;
}

.python {
    animation: shadowAnimation2 3s infinite;
    background-color: var(--primary);
    border-radius: 50%;
}

footer {
    padding: 60px 0px;
    background-color: var(--secondary);
    word-wrap: 100%;
    position: relative;
    z-index: 10000 !important;
}

.all-container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

.contact-me-description{
    width: 45%;
    display: flex;
    align-items: end;
}

.contact-me-description p {
    font-size: 25px;
    text-align: justify;
    width: 100%;
    font-family: var(--fontTxt);
    color: var(--primary);
}

.contact-all {
    width: 40%;
}

.container-img-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contact {
    display: grid;
    grid-template-areas:
        "link link2"
        "link3 ring"
        "cont cont"
    ;
    grid-gap: 20px;
    justify-content: center;
}

.container-contact span {
    display: flex;
    padding: 5px 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary);
    background-color: white;
    width: 150px;
}

.container-contact a {
    font-family: var(--fontTxt);
    color: var(--secondary);
    font-weight: bold;
}

.container-contact span:nth-child(1) {
    grid-area: link;
}

.container-contact span:nth-child(2) {
    grid-area: link2;
}

.container-contact span:nth-child(3) {
    grid-area: link3;
}

.container-contact span:nth-child(4) {
    grid-area: ring;
}

.container-contact span:nth-child(5) {
    grid-area: cont;
    display: flex;
    margin: auto;
}

.container-contact span svg {
    height: 20px;
    width: 20px;
    color: var(--primary);
}